@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Quicksand:wght@700&display=swap');

//colores
$color-title: #455a64;
$color-primary: #fff9f7;
$color-secondary:#5a5450;
$orange: #ff8a65; 
$white: #ffffff;
// fuentes
$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
